
.board {
  border: 1px solid rgba(255,255,255, 0.1);

  border-collapse: collapse;
  box-sizing: border-box;
  //border: 3px solid black;
  height: 87vmin;
  width: 87vmin;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.cell-value {
  height: 6.6vmin;
  width: 6.6vmin;
  line-height: 7vmin;
  border-radius: 100%;
  margin: 1vmin 1vmin;
}

.cell {
  box-sizing: border-box;
  //border: 1px solid #bbb;
  width:  9vmin;
  height: 9vmin;
  margin: 0;
  text-align: center;
  &.r0 {
    //border-top: 1px solid #bbb;
  }

  &.c0 {
    //border-left: 1px solid #bbb;
  }

  &.c8 {
    //border-right: 1px solid #bbb;
  }
  &.r8 {
    //border-bottom: 1px solid #bbb;
  }


  &.c2, &.c5 {
    padding-right: 1vmin;
  }

  &.c3, &.c6 {
    border-left: 1px solid rgba(255,255,255, 0.1);
    //padding-left: 1vmin;
  }

  &.r2, &.r5 {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    //padding-bottom: 1vmin;
  }

  &.r3, &.r6 {
    //padding-top: 1vmin;
  }



}

.selectedSquare {
  background-color: rgba(255,255,255, 0.1);
  border: 0 !important;

}

.relatedSquare {
  background-color: rgba(255,255,255, 0.2);
  border: 0 !important;
}

.marks {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: space-around;
  width: 7vmin;
  height: 7vmin;
  margin: 1vmin 1vmin;
  color: #aaa;
}

.btn_1,
.mark_1,
.value_1 > div {
  background-color: red;
}

.btn_2,
.mark_2,
.value_2 > div {
  background-color: orange;
}
.btn_3,
.mark_3,
.value_3 > div {
  background-color: yellow;
}
.btn_4,
.mark_4,
.value_4 > div {
  background-color: green;
}
.btn_5,
.mark_5,
.value_5 > div {
  background-color: blue;
}
.btn_6,
.mark_6,
.value_6 > div {
  background-color: purple;
}
.btn_7,
.mark_7,
.value_7 > div {
  background-color: cyan;
}
.btn_8,
.mark_8,
.value_8 > div {
  background-color: brown;
}
.btn_9,
.mark_9,
.value_9 > div {
  background-color: gray;
}
