
.board {
  display: flex;
  box-sizing: border-box;
  //border: 3px solid black;
  height: 81vmin;
  width: 81vmin;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell-value {
  line-height: 9vmin;
  font-size: 4vmin;
}

.cell {
  box-sizing: border-box;
  border: 1px solid #bbb;
  width:  9vmin;
  height: 9vmin;
  margin: 0;
  text-align: center;
  &.r0 {
    border-top: 1px solid #000;
  }

  &.c0 {
    border-left: 1px solid #000;
  }

  &.c8 {
    border-right: 1px solid #000;
  }
  &.r8 {
    border-bottom: 1px solid #000;
  }


  &.c3, &.c6 {
    box-sizing: border-box;
    border-left: 2px solid black;
  }
  &.r2, &.r5 {
    border-bottom: 2px solid black;
    box-sizing: border-box;
  }

}

.selectedSquare {
  background-color: yellow;
}

.marks {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 9vmin;
  height: 9vmin;
  color: #aaa;
  font-size: 15px;
  .mark {
    box-sizing: border-box;
    width: 3vmin;
    height: 3vmin;
    line-height: 3vmin;
  }
}

/*
.cell {
  border: 1px solid #aaa;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 35px;
  text-align: center;
}

.row5, .row2 {
  > td {
    border-bottom: 3px solid black;
  }
}

.col3, .col6 {
    border-left: 3px solid black;
}


.board {
  border-collapse: collapse;
  border: 3px solid black;
  height: 80vmin;
  width: 80vmin;
  margin: 10vmin auto;
}


.marksTable {
  width: 50px;
  height: 50px;
  color: #aaa;
  font-size: 12px;
  border-collapse: collapse;
}
*/
