.controls {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  border-left: 0;
  width: 10vmin;
  height: 87vmin;
  display: flex;
  margin-left: 3vmin;
  flex-direction: column;
  flex-wrap: wrap;
}

.numberButton {
  flex: 1;
  box-sizing: border-box;
  width: 10vmin;
  text-align: center;
}

.modeToggleButton {
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  width: 10vmin;

}

.modeDisplay {
  box-sizing: border-box;
  width: 10vmin;
  flex: 1;
  line-height: 8.1vmin;
  text-align: center;
}
