.game {
  display: flex;
  margin: 5vmin auto;
  flex-direction: row;
  //background-color: green;
  width: 100vmin;
  height: 90vmin;
}


.mark_1,
.value_1 {
  background-color: red;
}
.mark_2,
.value_2 {
  background-color: orange;
}
.mark_3,
.value_3 {
  background-color: yellow;
}

.mark_4,
.value_4 {
  background-color: green;
}
.mark_5,
.value_5 {
  background-color: blue;
}
.mark_6,
.value_6 {
  background-color: purple;
}
.mark_7,
.value_7 {
  background-color: black;
}
.mark_8,
.value_8 {
  background-color: brown;
}
.mark_9,
.value_9 {
  background-color: gray;
}
